@{
    Layout = "~/_layout.cshtml";
}

@foreach (var page in Model.Lists["blog"])
{
    <h2><a href="@ResolvePage(page)">@page.Title</a></h2>
    <p>@page.DateStamp.ToString("D")</p>
    <p>@page.Summary</p>
}